///* ==========================================================================
//   02-TOOLS -> MIXINS -> #LINKS
//   ======================================================================= */


@use 'sass:math' as *;
@use '01-settings' as *;
@use '02-tools/functions' as *;
@use 'transition' as *;
@use 'media-query' as *;


//
// Settings
//

$link-underline-width: div($uhb-global-border-width, 2);


///
/// Adds primary link styles to an element.
///
/// @param {String} $display [inliine-block] - 
/// @param {Boolean} $icon [false] - 
///
/// @example scss
///   .element {
///     @include uhb-link-primary();
///   }
///

@mixin uhb-link-primary($display: 'inline-flex') {
  @include uhb-transition('color');
  align-items: start;
  cursor: pointer;
  display: #{$display};  
  padding: uhb-spacing(2) uhb-spacing(1);
  position: relative;
  text-decoration: none;

  &:hover {
    @include uhb-link-primary-hover;
  }

  &:active {
    @include uhb-link-primary-active;
  }

  &::before,
  &::after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    height: $link-underline-width;
    left: 0;
    position: absolute; 
  }

  &::before {
    opacity: .33;
    width: 100%;
  }

  &::after {
    @include uhb-transition(('background-color', 'opacity', 'width'));
    width: 0%;
  }

  @include uhb-media-query($from: 'md') {
    padding-left: uhb-spacing(2);
    padding-right: uhb-spacing(2);
  }

  .uhb-c-icon {
    flex: 0 0 auto;
    margin-right: uhb-spacing(1);

    @include uhb-media-query($from: 'md') {
      margin-right: uhb-spacing(2);
    }
  }
}


///
/// Adds inverse link styles to an element.
///
/// @example scss
///   .element {
///     @include uhb-link-colour-primary;
///   }
///

@mixin uhb-link-inverse($display: 'inline-flex') {
  align-items: start;
  color: $uhb-color-white;
  cursor: pointer;
  display: $display;  
  padding: uhb-spacing(2) uhb-spacing(1);
  position: relative;
  text-decoration: none;

  &:hover {
    @include uhb-link-inverse-hover;
  }

  &:active {
    @include uhb-link-inverse-active;
  }

  &:visited {
    color: $uhb-color-white;
  }

  &::before,
  &::after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    height: $link-underline-width;
    left: 0;
    position: absolute; 
  }

  &::before {
    opacity: .33;
    width: 100%;
  }

  &::after {
    @include uhb-transition(('background-color', 'opacity', 'width'));
    opacity: 0.66;
    width: 0%;
  }

  @include uhb-media-query($from: 'md') {
    padding-left: uhb-spacing(2);
    padding-right: uhb-spacing(2);
  }
}


///
/// Adds primary colour styles only to a link
///
/// @example scss
///   .element {
///     @include uhb-link-stylr-primary;
///   }
///

@mixin uhb-link-style-primary {
  color: $uhb-color-primary;
  color: var(--color-primary);

  &:hover {
    @include uhb-link-primary-hover;
  }

  &:active {
    @include uhb-link-primary-active;
  }
}


///
/// Adds white colour styles only to a link
///
/// @example scss
///   .element {
///     @include uhb-link-style-inverse;
///   }
///

@mixin uhb-link-style-inverse {
  color: $uhb-color-white;
  @include uhb-link-inverse-active;

  &:hover {
    @include uhb-link-inverse-hover;
  }

  &:active {
    @include uhb-link-inverse-active;
  }

  &:visited {
    color: $uhb-color-white;
  }
  
  &::after {
    opacity: .66;
  }
}


///
/// Adds hover styles to a primary link.
///
/// @example scss
///   .element {
///     @include uhb-link-primary-hover
///   }
///

@mixin uhb-link-primary-hover {
  &::after {
    width: 100%;
  }
}


///
/// Adds active styles to a primary link.
///
/// @example scss
///   .element {
///     @include uhb-link-primary-active
///   }
///

@mixin uhb-link-primary-active {
 color: $uhb-color-primary-active;
 color: var(--color-primary-active);

  &::after {
    background-color: $uhb-color-primary-active;
    background-color: var(--color-primary-active);
    opacity: 1;
    width: 100%;
  }
}


///
/// Adds hover styles to an inverse link.
///
/// @example scss
///   .element {
///     @include uhb-link-inverse-hover
///   }
///

@mixin uhb-link-inverse-hover {
  &::after {
    opacity: .66;
    width: 100%;
  }
}


///
/// Adds active styles to an inverse link.
///
/// @example scss
///   .element {
///     @include uhb-link-inverse-active
///   }
///

@mixin uhb-link-inverse-active {
  color: $uhb-color-white !important;

  &::after {
    background-color: $uhb-color-white !important;
    opacity: 1;
  }
}


///
/// Indicates the link is currently selected.
///
/// @example scss
///   .element {
///     @include uhb-link-current
///   }
///

@mixin uhb-link-current { 
   &::after {
     opacity: 1;
     width: 100%;
   }
 }

