/* ============================================================================
   07-UTILITIES -> #BACKGROUND
   ========================================================================= */

/**
 * The background utility classes set the 'background-color' property of an
 * element.
 */


@use '01-settings' as *; 


.uhb-u-background-blue {
  background-color: $uhb-color-blue !important;
}

.uhb-u-background-bright-blue {
  background-color: $uhb-color-bright-blue !important;
}

.uhb-u-background-dark-grey {
  background-color: $uhb-color-dark-grey !important;
}

.uhb-u-background-dark-pink {
  background-color: $uhb-color-dark-pink !important;
}

.uhb-u-background-grey {
  background-color: $uhb-color-pale-grey !important;
}

.uhb-u-background-pink {
  background-color: $uhb-color-pink !important;
}

.uhb-u-background-primary {
  background-color: $uhb-color-primary !important;
  background-color: var(--color-primary) !important;
}

.uhb-u-background-transparent {
  background-color: transparent !important;
}

.uhb-u-background-transparent-primary {
  background-color: rgba($uhb-color-primary, 0.6) !important;
  background-color: rgba(var(--color-primary-rgb), .6) !important;
}

.uhb-u-background-transparent-white {
  background-color: rgba($uhb-color-white, .6) !important;
}

.uhb-u-background-white {
  background-color: $uhb-color-white !important;
}