/* ============================================================================
   07-UTILITIES -> #COLOR
   ========================================================================= */

/**
 * The color utility classes set the 'color' property of an element.
 */


@use '01-settings' as *; 


.uhb-u-color-aqua-green {
  color: $uhb-color-aqua-green !important;
}  

.uhb-u-color-black {
  color: $uhb-color-black !important;
}

.uhb-u-color-blue {
  color: $uhb-color-blue !important;
}

.uhb-u-color-dark-grey {
  color: $uhb-color-dark-grey !important;
}

.uhb-u-color-emergency-services-red {
  color: $uhb-color-emergency-services-red !important;
}

.uhb-u-color-light-blue {
  color: $uhb-color-light-blue !important;
}

.uhb-u-color-mid-grey {
  color: $uhb-color-mid-grey !important;
}

.uhb-u-color-orange {
  color: $uhb-color-orange !important;
}

.uhb-u-color-pink {
  color: $uhb-color-pink !important;
}

.uhb-u-color-primary {
  color: $uhb-color-primary !important;
  color: var(--color-primary) !important;
}

.uhb-u-color-white {
  color: $uhb-color-white !important;
}