/* ============================================================================
   07-UTILITIES -> #FLEX
   ========================================================================= */

/**
 * The flex utility classes set the flexbox properties of an element at any
 * breakpoint.
 */


@use '01-settings' as *;
@use '02-tools' as *;


//
// Settings
//

$flex-align-properties: (
  top:    flex-start,
  middle: center,
  bottom: flex-end
);

$flex-justify-properties: (
  left:   flex-start,
  center: center,
  right:  flex-end
);


/**
 * Align items
 */

@each $class-name, $property in $flex-align-properties {
  @each $breakpoint-name, $breakpoint-value in $uhb-breakpoints {
    @if ($breakpoint-name == null) {
      .uhb-u-flex-#{$class-name} {
        align-items: #{$property} !important;
      }
    } @else {
      @include uhb-media-query($from: $breakpoint-name) {
        .uhb-u-flex-#{$class-name}\@#{$breakpoint-name} {
          align-items: #{$property} !important;
        }
      }
    }
  }
}


/**
 * Justify content
 */

@each $class-name, $property in $flex-justify-properties {
  @each $breakpoint-name, $breakpoint-value in $uhb-breakpoints {
    @if ($breakpoint-name == null) {
      .uhb-u-flex-#{$class-name} {
        justify-content: #{$property} !important;
      }
    } @else {
      @include uhb-media-query($from: $breakpoint-name) {
        .uhb-u-flex-#{$class-name}\@#{$breakpoint-name} {
          justify-content: #{$property} !important;
        }
      }
    }
  }
}

