/* ============================================================================
   07-UTILITIES -> #SPAN
   ========================================================================= */
  
/**
 * The span utility for extra inline styling.
 */


@use '02-tools'as *; 


.uhb-u-category-count {
  margin-left: uhb-spacing(2);
}

.uhb-u-foi-number-requests {
  margin-bottom: uhb-spacing(2);
}

.uhb-u-foi-number-request {
  margin-top: uhb-spacing(0);
}