/* ==========================================================================
   08 - THEMES / PRIMARY / DARK GREY
   ========================================================================== */


@use '01-settings' as *; 
@use '02-tools' as *;


.uhb-t-primary-dark-grey {
  --global-bar-color: #{$uhb-color-pale-grey};
  --global-bar-highlight-color: #{$uhb-color-bright-blue};
  --global-bar-highlight-item-color: #{$uhb-color-bright-blue};
  --color-primary-rgb: #{uhb-hex-to-rgb($uhb-color-primary)};
  --color-primary: #{$uhb-color-dark-grey};
  --color-primary-hover: #{$uhb-color-darkest-grey};
  --color-primary-active: #{$uhb-color-black};

  .uhb-c-pull-quote::before {
    background-image: url(uhb-replace-string($uhb-icon-chevron-right, '%%COLOUR%%', uhb-replace-string('#{$uhb-color-emergency-services-red}', '#', '%23' )));
  }
}