/* ==========================================================================
   08 - THEMES / PRIMARY / PURPLE
   ========================================================================== */

  
   @use '01-settings' as *; 
   @use '02-tools' as *;
   
   
   .uhb-t-primary-purple {
     --global-bar-color: #{$uhb-color-blue};
     --global-bar-highlight-color: #{$uhb-color-purple};
     --global-bar-highlight-item-color: #{$uhb-color-bright-blue};
     --header-wash-color: #{$uhb-color-bright-blue};
     --color-primary-rgb: #{uhb-hex-to-rgb($uhb-color-purple)};
     --color-primary: #{$uhb-color-purple};
     --color-primary-hover: #{$uhb-color-dark-purple};
     --color-primary-active: #{$uhb-color-dark-purple};
   
     .uhb-c-block-quote__quote::before {
       background-image: url(uhb-replace-string($uhb-icon-speech-marks, "%%COLOUR%%", uhb-replace-string("#{$uhb-color-purple}", '#', '%23')));;
     }
   }