/* ============================================================================
   05-OBJECTS -> #PAGE
   ========================================================================= */

/**
 * The page object contains landmark layout areas of a page.
 */


@use '02-tools' as *;


/**
 * Page
 *
 * 1. Fill all remaining vertical space.
 */

.uhb-o-page {
  @include uhb-responsive-padding(7, 'bottom');
  flex: 1 0 auto; // [1]
  min-height: 100%;
  width: 100%;
}


/**
 * Page lead
 */

.uhb-o-page__lead {
  @include uhb-first-child-margin;
  @include uhb-responsive-margin(7, 'bottom');
}


/**
 * Page side bar
 *
 * 1. Sets the 'margin-top' property if the side bar container follows the page
 *    container.
 * 1. Remove the 'margin-top' property at xl when the sidebar and content are
 *    not stacked.
 */

.uhb-o-page__side-bar {
  @include uhb-first-child-margin;
}

.uhb-o-page__content + .uhb-o-page__side-bar {
  margin-top: uhb-spacing(5); // [1]

  @include uhb-media-query($from: 'md') {
    margin-top: uhb-spacing(6); // [1]
  }

  @include uhb-media-query($from: 'xl') {
    margin-top: 0; // [2]
  }
}


/**
 * Page main
 *
 * 1. Sets the 'margin-top' property if the content container follows the side
 *    bar container.
 * 1. Remove the 'margin-top' property at xl when the sidebar and content are
 *    not stacked.
 */

.uhb-o-page__content {
  @include uhb-first-child-margin;
}

.uhb-o-page__side-bar + .uhb-o-page__content {
  margin-top: uhb-spacing(5); // [1]

  @include uhb-media-query($from: 'md') {
    margin-top: uhb-spacing(6); // [1]
  }

  @include uhb-media-query($from: 'xl') {
    margin-top: 0; // [2]
  }
}