/* ============================================================================
   04-ELEMENTS -> #IMAGE
   ========================================================================= */

/**
 * Sets the default styles for the image element.
 *
 * 1. Offset the alternative text from other text if the image is not displayed.
 * 2. Set 'width' property to '100%' to create responsive images.
 * 3. Removes the whitespace that appears under the img element.
 */


img {
  font-style: italic; // [1]
  max-width: 100%; // [2]
  vertical-align: middle; // [3]
}
