/* ============================================================================
   04-ELEMENTS -> #IMAGE
   ========================================================================= */

/**
 * Sets the default styles for the image element.
 *
 * 1. Offset the alt-text from other text if the image is not displayed.
 * 2. Set width to 100% for responsive images.
 * 3. Remove the whitespace that appears under image elements.
 */


img {
  font-style: italic; // [1]
  max-width: 100%; // [2]
  vertical-align: middle; // [3]
}
