/* ============================================================================
   04-ELEMENTS -> #PAGE
   ========================================================================= */

/**
 * Sets the default styles for page elements. 
 */


@use '01-settings' as *;
@use '02-tools' as *;


/**
 * Root
 */
 
:root {
  --color-border: #{$uhb-color-border};
  --color-primary-rgb: #{uhb-hex-to-rgb($uhb-color-primary)};
  --color-primary: #{$uhb-color-primary};
  --color-primary-hover: #{$uhb-color-primary-hover}; 
  --color-primary-active: #{$uhb-color-primary-active};
  --color-action-button: #{$uhb-color-action-button};
  --color-action-button-hover: #{$uhb-color-action-button-hover};
  --color-action-button-active: #{$uhb-color-action-button-active};
  --global-bar-color: #{$uhb-global-bar-color};
  --global-bar-highlight-color: #{$uhb-global-bar-highlight-color};
  --global-bar-highlight-item-color: #{$uhb-global-bar-highlight-item-color};
}


/**
 * HTML
 *
 * 1. Set background properties to allow cover sized images to be placed behind
 *    content.
 * 2. Set 'overflow-y' to 'scroll' so the vertical scroll bar is always visible.
 * 3. State hook to lock the page scroll.
 */

html {
  background-position: center; // [1]
  background-repeat: no-repeat; // [1]
  background-size: cover; // [1]
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; // [2]
  
  // [3]
  &.is-locked {
    margin: 0;
    height: 100%;
    overflow: hidden;

    body {
      margin: 0;
      overflow: hidden;
    }
  }
}


/**
 * Body
 *
 * 1. Set 'display' property to 'flex' to allow the uhb-o-page object to fill
 *     all remaining space.
 * 2. Set 'min-height' property to '100%' so the body fills the entire viewport
 *    height.
 */

body {
  color: $uhb-color-text;
  display: flex; // [1]
  flex-direction: column;
  font-family: $uhb-font-family;
  font-size: $uhb-global-font-size;
  font-weight: $uhb-font-weight-light;
  min-height: 100%; // [2]
  line-height: $uhb-global-line-height;
  overflow-x: hidden;

  @include uhb-media-query($media-type: 'print') {
    display: block;
  }
}