/* ============================================================================
   04-ELEMENTS -> #TABLE
   ========================================================================= */

/**
 * Sets the default styles for the table element. 
 *
 * 1. 'Magic number' used to set vertical 'padding' property.
 * 2. Fallback value for browsers that don't support CSS custom properties.
 * 3. CSS custom property used as progressive enhancement for themes.
 */


@use 'sass:math' as *;
@use '01-settings' as *;
@use '02-tools' as *;


//
// Settings
//

$table-border-color: $uhb-color-white;
$table-border-width: div($uhb-global-border-width, 2);


table {
  border-collapse: collapse;
}


thead,
tr {
  border-bottom: $table-border-width solid $table-border-color;
}


tr {
  &:last-child {
    border-bottom: 0;
  }
}


td,
th {
  @include uhb-font-size('body');
  border-right: $table-border-width solid $table-border-color;
  padding: uhb-spacing(2) uhb-spacing(1);
  text-align: left;
  vertical-align: top;

  &:last-child {
    border-right: 0;
  }

  & > *:last-child {
    margin-top: 0;
  }

  @include uhb-media-query($from: 'md') {
    padding: uhb-spacing(2) 12px; // [2]
  }
}


th {
  background-color: $uhb-color-primary; // [2]
  background-color: var(--color-primary); // [3]
  color: $table-border-color;
}


td {
  background-color: $uhb-color-pale-grey;
}