/* ============================================================================
   06-COMPONENTS -> #CARD
   ========================================================================= */

/**
 * The card component is a container that divides content and can hold text, 
 * images and actions.
 * 
 * @demo
 * https://uhb.nhs.uk/design-system/components/content/card.htm
 */


@use '01-settings' as *;
@use '02-tools' as *;


/**
 * Card
 *
 * 1. Fallback value for browsers that don't support CSS custom properties.
 * 2. Custom property used as progressive enhancement for themes.
 */

.uhb-c-card {
  background-color: $uhb-color-white;
  border-bottom: $uhb-global-border-width solid $uhb-color-border; // [1]
  border-bottom-color: var(--color-border); // [2]
  box-shadow: $uhb-global-box-shadow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  width: 100%;
}


/**
 * Card image
 *
 * 1. Prevents the card image from losing aspect ratio.
 * 2. Fills the full width of the card.
 */

.uhb-c-card__image {
  flex: 0 0 auto; // [1]
  width: 100%; // [2]
}


/**
 * Card content
 *
 * 1. Allows the card content to fill up all the remaining space in the card.
 */

.uhb-c-card__content {
  @include uhb-responsive-padding(5);
  flex: 1 0 auto; // [1]
}


/**
 * Card heading
 *
 * 1. Inherit the colour from the title to always match the theme.
 */

.uhb-c-card__heading {
  @include uhb-font-size('h6');
  
  .uhb-c-link {
    color: inherit; // [1]
  }
}


/**
 * Card link
 */

.uhb-c-card__link {
  @include uhb-font-size('body');
}


/**
 * Card footer
 */

.uhb-c-card__footer {
  @include uhb-responsive-padding(5, ('bottom', 'left', 'right'));
}




/* MODIFIERS
   ========================================================================= */

/**
 * Clickable card
 *
 * Makes the whole surface of the card clickable.
 *
 * 1. Add pointer cursor to show the area is clickable.
 * 2. Apply primary hover and active styles to default white card.
 * 3. Apply inverse white hover and activ styles to primary and dark primary
 *    cards.
*/

.uhb-c-card--clickable {
  cursor: pointer; // [1]
}

.uhb-c-card--clickable:not(.uhb-c-card.uhb-c-card--primary):not(.uhb-c-card.uhb-c-card--dark-primary) { // [2]
  &:hover {
    .uhb-c-card__link {
      @include uhb-link-primary-hover;
    }
  }

  &:active {
    .uhb-c-card__link {
      @include uhb-link-primary-active;
    }
  }
}


.uhb-c-card--clickable.uhb-c-card--primary,
.uhb-c-card--clickable.uhb-c-card--dark-primary { // [3]
  &:hover {
    .uhb-c-card__link {
      @include uhb-link-inverse-hover;
    }
  }

  &:active {
    .uhb-c-card__link {
      @include uhb-link-inverse-active;
    }
  }
}


/**
 * overlap card
 *
 * The overlap card modifier applies negative margin to a cad to overlap the
 * following section.
 */

$card-overlap-margin-default: uhb-spacing(5) + uhb-spacing(3) + $uhb-global-border-width; // [1]
$card-overlap-margin-md: uhb-spacing(6) + uhb-spacing(4) + $uhb-global-border-width; // [1]
$card-overlap-margin-xl: uhb-spacing(7) + uhb-spacing(5) + $uhb-global-border-width; // [1]

.uhb-c-card--overlap {
  margin-bottom: -$card-overlap-margin-default;

  @include uhb-media-query($from: 'md') {
    margin-bottom: -$card-overlap-margin-md;
  }

  @include uhb-media-query($from: 'xl') {
    margin-bottom: -$card-overlap-margin-xl;
  }
}


/**
 * Primary card
 *
 * Changes the background colour of the card to the themes primary colour.
 *
 * 1. Fallback value for browsers that don't support CSS custom properties.
 * 2. Custom property used as progressive enhancement for themes.
 */

.uhb-c-card--primary {
  background-color: $uhb-color-primary; // [1]
  background-color: var(--color-primary); // [2]
  color: $uhb-color-white;

  .uhb-c-card__heading {
    color: $uhb-color-white;
  }

  .uhb-c-card__link {
    @include uhb-link-style-inverse;
  }
}


/**
 * Dark primary card
 *
 * Changes the background colour of the card to the themes primary hover colour
 * to allow it to be placed over the primary colour.
 *
 * 1. Fallback value for browsers that don't support CSS custom properties.
 * 2. Custom property used as progressive enhancement for themes.
 */

.uhb-c-card--dark-primary {
  background-color: $uhb-color-primary-hover; // [1]
  background-color: var(--color-primary-hover); // [2]
  color: $uhb-color-white;

  .uhb-c-card__heading {
    color: $uhb-color-white;
  }

  .uhb-c-card__link {
    @include uhb-link-style-inverse;
  }
}