/* ============================================================================
   06-COMPONENTS -> #NOTICE
   ========================================================================= */

/**
 * The notice component communicates important information to a user at the top
 * of a page.
 *
 * @demo
 * https://uhb.nhs.uk/design-system/components/content/notice.htm
 */


@use '01-settings' as *;
@use '02-tools' as *;


/**
 * Notice
 *
 * 1. 'Magic number' used to set the 'padding-top' property and stop menu
 *    buttons overlaying notice content.
 * 2. Revert 'padding-top' property back to default value.
 */

.uhb-c-notice {
  background-color: $uhb-color-blue;
  box-shadow: $uhb-global-box-shadow;
  color: $uhb-color-white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  width: 100%;
} 


/**
* Notice image
*
* 1. Prevents the notice image from losing aspect ratio.
* 2. Fills the full width of the notice.
*/

.uhb-c-notice__image {
  flex: 0 0 auto; // [1]
  width: 100%; // [2]
}
  
  
/**
* Notice content
*
* 1. Set the 'flex' property to allow the notice content to fill up all
*    remaining space in the card.
*/
  
.uhb-c-notice__content {
  @include uhb-responsive-padding(5);
  flex: 1 0 auto; // [1]
  
	ul > li::before {
		background-image: url(uhb-replace-string($uhb-icon-chevron-right, "%%COLOUR%%", uhb-replace-string("#{$uhb-color-white}", '#', '%23'))) !important;
	}

}
  
  
/**
* Notice heading
*/
  
.uhb-c-notice__heading {
  @include uhb-font-size('h6');
  color: $uhb-color-white;
}


/**
* Notice footer
*/
  
.uhb-c-notice__footer {
  @include uhb-responsive-padding(5, ('bottom', 'left', 'right'));

    .uhb-c-button {
	  margin-top: 0;
	}
}


/* MODIFIERS
   ========================================================================= */

/**
 * Alert notice
 *
 * Changes the notice to an alert.
 */

.uhb-c-notice--alert {
  background-color: $uhb-color-emergency-services-red;

  .uhb-c-button--inverse {
	color: $uhb-color-emergency-services-red;

	&:active {
	  color: $uhb-color-dark-red;
	}

	&:visited {
	  color: $uhb-color-emergency-services-red;
	}
  }
}


/**
 * Announcement notice
 *
 * Changes the notice to an announcement.
 */

.uhb-c-notice--announcement {
  background-color: $uhb-color-dark-green;

    .uhb-c-button--inverse {
	  color: $uhb-color-dark-green;

	  &:active {
	    color: $uhb-color-darkest-green;
	  }
  
	  &:visited {
	    color: $uhb-color-dark-green;
	  }
	}
}


/**
 * Warning notice
 *
 * Changes the notice to a warning.
 */

.uhb-c-notice--warning {
  background-color: $uhb-color-warm-yellow;
  color: $uhb-color-dark-grey;

    .uhb-c-notice__heading {
	  color: $uhb-color-dark-grey;
	}

	.uhb-c-button--inverse {
	  background-color: $uhb-color-dark-grey;
	  color: $uhb-color-white;

	  &:hover {
		background-color: $uhb-color-darkest-grey;
	  }
	
	  &:active {
		background-color: $uhb-color-black;
		color: $uhb-color-paler-grey;
	  }
	
	  &:visited {
		color: $uhb-color-white;
	  }
	}

    .uhb-c-notice__content {
		
		  ul > li::before {
			  background-image: url(uhb-replace-string($uhb-icon-chevron-right, "%%COLOUR%%", uhb-replace-string("#{$uhb-color-dark-grey}", '#', '%23'))) !important;
		  }
	  
	  }
}