/* ============================================================================
   06-COMPONENTS -> #PAGINATION
   ========================================================================= */

/**
 * The pagination component allows users to navigate through content that is
 * split over multiple pages.
 *
 * @demo
 * https://uhb.nhs.uk/design-system/components/navigation/pagination.htm
 */


@use '01-settings' as *;
@use '02-tools' as *;


//
// Settings
//

$pagination-link-size-xs: 40px; 
$pagination-link-size-md: 48px;


/**
 * Pagination
 */

.uhb-c-pagination {
  @include uhb-responsive-margin(7, 'top');
}


/**
 * Pagination list
 *
 * 1. Use negative margin to remove excess spacing from pagination items.
 */

.uhb-c-pagination__list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: - uhb-spacing(3); // [1]
  margin-left: - uhb-spacing(3); // [1]
  margin-top: 0;

  @include uhb-media-query($from: 'md') {
    margin-bottom: 0;
    margin-left: 0;
  }
}


/**
 * Pagination item
 *
 * 1. Set the 'content' property to 'none' to remove custom list-item marker.
 * 2. State hook for Sets the current pagination item styles.
 */

.uhb-c-pagination__item {
  margin-top: 0;
  padding-bottom: uhb-spacing(3);
  padding-left: uhb-spacing(3);
  
  &::before {
    content: none; // [1]
  }

  // [2]
  &.is-current {
    .uhb-c-pagination__link {
      @include uhb-link-state-current;
    }
  }

  @include uhb-media-query($from: 'md') {
    padding-bottom: 0;

    &:first-child {
      padding-left: 0;
    }
  }
}


/**
 * Pagination link
 */

.uhb-c-pagination__link {
  @include uhb-link;
  justify-content: center;
  height: $pagination-link-size-xs;
  width: $pagination-link-size-xs;

  @include uhb-media-query($from: 'md') {
    height: $pagination-link-size-md;
    width: $pagination-link-size-md;
  }
}