/* ============================================================================
   06-COMPONENTS -> #TABLE
   ========================================================================= */

/**
 * The table component is used to display large amoiunts of data in rows and
 * columns.
 *
 * @demo
 * https://uhb.nhs.uk/design-system/components/content/table.htm
 */


@use 'sass:math' as *;
@use '01-settings' as *;
@use '02-tools' as *;


//
// Settings
//

$table-border-width: div($uhb-global-border-width, 2);


/*
 * Table responsive cell
 *
 * 1. Set the 'display' property to 'table' to position the pseduo-element and
 *    responsive cell.
 * 2. Fallback value used for browsers that don't support CSS custom properties.
 * 3. CSS custom property used as progressive enhancement for themes.
 * 4. Set the 'content' property to the contain the 'data-table-heading'
 *    attributes content.
 * 5. Set the 'width' property to '40%' so all table headings are the same
 *    width.
 */

.uhb-c-table__responsive-heading {
  border-bottom: $table-border-width solid $uhb-color-white;
  border-right: 0;
  display: table; // [1]
  width: 100%;

  &::before {
    @include uhb-font-size('body');
    background-color: $uhb-color-primary; // [2]
    background-color: var(--color-primary); // [3]
    border-right: $table-border-width solid $uhb-color-white;
    color: $uhb-color-white;
    content: attr(data-table-heading); // [4]
    display: table-cell;
    font-weight: $uhb-font-weight-bold;
    padding: uhb-spacing(2) uhb-spacing(1);
    vertical-align: top;
    width: 40%; // [5]
  }

  &:last-child {
    border-bottom: 0;
  }
}


/*
 * Table responsive content
 *
 * 1. Set the 'display' property to 'table' to position the responsive cell.
 */

.uhb-c-table__responsive-cell {
  display: table-cell; // [1]
  padding: uhb-spacing(2) uhb-spacing(1);
  width: 100%;
}




/* MODIFIERS
   ========================================================================= */

/**
 * Responsive table
 *
 * Makes a table responsive.
 */

.uhb-c-table--responsive {
  width: 100%;
}

.uhb-c-table--responsive thead {
  @include uhb-visually-hidden;
}

.uhb-c-table--responsive tr {
  border-bottom: 0;
  display: block;
  margin-bottom: uhb-spacing(3);
  
  &:last-child {
    margin-bottom: 0;
  }
}


/**
 * Static tables
 *
 * Reverts a table back to a static table at any breakpoint.
 *
 * 1. Undo visually-hidden mixin.
 */

@each $breakpoint-name, $breakpoint-value in $uhb-breakpoints {
  @if ($breakpoint-name != null) {
    @include uhb-media-query($from: $breakpoint-name) {
      .uhb-c-table--static\@sm {
        width: auto;
      }
      
      
      .uhb-c-table--static\@#{$breakpoint-name} thead {
        @include uhb-visually-shown($display-property: 'table-header-group'); // [1]
        margin-right: 0;
      }
      
      
      .uhb-c-table--static\@#{$breakpoint-name} tr {
        border-bottom: $table-border-width solid $uhb-color-white;
        display: table-row;
        margin-bottom: 0;
    
        &:last-child {
          border-bottom: 0;
        }
      }
      
      
      .uhb-c-table--static\@#{$breakpoint-name} .uhb-c-table__responsive-heading {
        border-bottom: 0;
        border-right: $table-border-width solid $uhb-color-white;
        display: table-cell;
        width: auto;
        
        &::before {
          display: none;
        }
      }
      
      
      .uhb-c-table--static\@#{$breakpoint-name} .uhb-c-table__responsive-cell {
        padding: 0;
      }
    }
  } 
}


/**
 * Bare table
 *
 * Removes all visual styles from a table.
 */

.uhb-c-table--bare th,
.uhb-c-table--bare td {
  background-color: transparent;
  color: $uhb-color-text;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}


/**
 * Striped table
 *
 * Adds stripes to any tbody rows.
 */

.uhb-c-table--striped tbody tr:nth-child(odd) td {
  background-color: $uhb-color-white;
}