///* ==========================================================================
//   01-SETTINGS -> #FORMS
//   ======================================================================= */

// 
// The forms settings file contains variables that are used across by form
// components.
//


@use "sass:math" as *;
@use 'global' as *;


$uhb-form-border-width:           div($uhb-global-border-width, 2);
$uhb-form-element-height-default: 40px;
$uhb-form-element-height-md:      48px;