///* ==========================================================================
//   01-SETTINGS -> #FORMS
//   ======================================================================= */

@import 'global';

// 
// The forms settings file contains variables that are used across by form
// components.
//


$uhb-form-border-width:           $uhb-global-border-width / 2;
$uhb-form-element-height-default: 40px;
$uhb-form-element-height-md:      48px;